<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status do Produto</title>
    <link rel="stylesheet" href="static/css/statusProduto.css">
    <link rel="stylesheet" href="static/css/padraoFifa.css">
</head>

<body>
    <header>
        <div class="mercadofacil">
        	<a href = "./dashboard">
        	<img src="static/images/edicaoUsuario/logo_mercadofacil.svg" alt="">
        	Mercado Fácil
        	</a>
            
        </div>
        <div class="sair">
            
            <p>Sair</p>
           	<img src="static/images/edicaoUsuario/sair.svg" alt="">
            
            
        </div>
    </header>
    
    <section>
        <h1><br>Status do Produto</h1>

        <div class="section-englobamento">

            <!-- PESQUISA ID -->
            <div>
                <div class="barra-pesquisaID">
                    <img src="static/images/statusProduto/search_24dp_9A9A9A_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                    <input type="text" placeholder="Digite o ID">
                </div>

                <div class="filtrar">
                    <div class="filtrar-visu">
                        <img src="static/images/statusProduto/filter_alt.svg" alt="">
                        <p>Filtrar Visualização</p>
                    </div>

                    <!-- PESQUISA DATA -->

                    <div class="barra-pesquisaDATA">
                        <img src="static/images/statusProduto/calendar_month_24dp_9A9A9A_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                        <input type="text" placeholder="Data de Solicitação">
                    </div>

                    <!-- PESQUISA FORNECEDOR -->

                    <div class="barra-pesquisaFORNECEDOR">
                        <img src="static/images/statusProduto/person_search_24dp_9A9A9A_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                        <input type="text" placeholder="Fornecedor">
                    </div>

                    <!-- PESQUISA CATEGORIA -->

                    <div class="barra-pesquisaCATEGORIA">
                        <img src="static/images/statusProduto/category_search_24dp_9A9A9A_FILL0_wght400_GRAD0_opsz24.svg" alt="">

                        <select name="categoria" class="categoria-select">
                            <option value="" disabled selected>Categoria</option>
                            <option value="limpeza">Limpeza</option>
                            <option value="frutas">Frutas</option>
                            <option value="verduras">Verduras</option>
                            <option value="alcoolicas">Bebidas Alcoólicas</option>
                            <option value="refrigerantes">Refrigerantes</option>
                            <option value="doces">Doces</option>
                            <option value="pereciveis">Perecíveis</option>
                        </select>
                    </div>

                    <!-- BOTÃO FILTRAR -->
                    <br><br><br><br><br>
                    <button class="botao-filtrar">Filtrar</button>
                </div>

            </div>

            <!-- FILTROS -->


            <!-- TABELA -->
            <div class="table">
                <table>
                    <!-- CABEÇA-->
                    <thead>
                        <tr>
                            <th>ID Status</th>
                            <th>Nome do Produto</th>
                            <th>Editar</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>teste</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>




    </section>


    <footer>© 2024 Code Commiters. All Rights Reserved.</footer>

</body>


</html>